@use '../../styles/partials/colors';

.select {
  align-self: flex-end;
  border-radius: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  outline: none;
  padding: 12px 4px;

  &:focus {
    border: 2px solid colors.$primary;
  }
}
